.item1::marker {
    content: url(../images/iconMegafone.png);
     
}
.item2::marker {
    content: url(../images/iconMonitor.png);
     
}
.item3::marker {
    content: url(../images/iconShield.png);
     
}
.section1 {
    float: top;
}